body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

h1,
h2,
h3 {
  font-size: 1.5em;
  font-family: Ubuntu, sans-serif;
}

h4 {
  font-size: 2.5em;
  font-family: Ubuntu, sans-serif;
}

div img {
  display: block;
  margin: 0 auto 50px;
}

/* Navigation */
.nav-bar {
  text-align: center;
}

.nav-bar li {
  display: inline;
  padding: 0px 20px;
  font-size: 1.5em;
}

button {
  border-radius: 25%;
  text-decoration: none;
  background-color: rgb(123, 123, 155);
}

button:hover {
  background-color: rgb(59, 53, 43);
  transition: all 0.5s ease-out;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

/* Header */
.title {
  font-size: 2.5em;
  text-align: center;
}

/* Body */
#static {
  display: inline-block;
  margin: 0 auto 50px;
  width: 500px;
  height: 300px;
  padding: 5%;
  background-color: lightsalmon;
  overflow: overlay;
}

#relative {
  display: inline-block;
  margin: 0 auto 50px;
  width: 500px;
  height: 300px;
  padding: 5%;
  background-color: lightgreen;
  overflow: overlay;
}

#absolute {
  display: inline-block;
  margin: 0 auto 50px;
  width: 500px;
  height: 300px;
  padding: 5%;
  background-color: lightgoldenrodyellow;
  overflow: overlay;
}

#sticky {
  display: inline-block;
  margin: 0 auto 50px;
  width: 500px;
  height: 300px;
  padding: 5%;
  background-color: lightcyan;
  overflow: overlay;
}

#fixed {
  display: inline-block;
  margin: 0 auto 50px;
  width: 500px;
  height: 300px;
  padding: 5%;
  background-color: lightskyblue;
  overflow: overlay;
}

.main-body {
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.main-body section img {
  width: 200px;
}

.main-body section p {
  display: inline;
  padding-bottom: 5%;
  border: none;
  margin: 0 auto;
  width: 500px;
  height: 0;
  text-align: justify;
  font-size: 1.5em;
}

/* table */
#examples {
  text-align: center;
  width: 1000px;
  margin: 0 auto 100px;
}

#examples h3 {
  font-size: 2.5em;
}

.example-table {
  width: auto;
  margin: 0 auto;
}

.example-table th,
td {
  font-size: 1.5em;
  border: 1px solid black;
  background-color: blanchedalmond;
}

.example-table th {
  padding: 15px 40px;
}

.example-table td {
  padding: 10px 100px;
  font-family: monospace;
}
